@use "../tokens" as tokens;

.l-content {
  /* TO DO: REMOVE */
  background: green;

  /* END REMOVE */

  max-width: tokens.$width-content;
  margin-inline: auto;
  padding-inline: tokens.$space-sm;

  @media (min-width: tokens.$bp-sm) {
    padding-inline: 0;
  }
}
