@use "../tokens" as tokens;

.m-heading {
  display: flex;
  flex-direction: column;
  margin-top: tokens.$space-lg;

  &__eyebrow,
  &__title,
  &__intro {
    margin: 0;
  }

  &__eyebrow {
    font-size: tokens.$font-size-label;
    line-height: 1.2;
    color: tokens.$colour-text-muted;
  }

  &__title {
    margin-top: tokens.$space-2xs;
  }

  &__intro {
    margin-block: tokens.$space-sm;
    font-size: larger;
  }
}
