@use "../tokens" as tokens;

.m-quote {
  margin-block: tokens.$blockquote-spacing-top tokens.$blockquote-spacing-bottom;
  border-inline-start: tokens.$blockquote-rule-width solid
    tokens.$colour-rule-blockquote;

  &__body {
    margin: 0;
    padding-inline-start: tokens.$blockquote-padding-inline;
    font-family: tokens.$font-family-blockquote;
    font-weight: tokens.$font-weight-blockquote;
    font-size: tokens.$font-size-blockquote;
    line-height: tokens.$line-height-blockquote;
    color: tokens.$colour-type-blockquote;
    max-inline-size: 36ch;
  }

  &__attribution {
    display: block;
    margin-top: tokens.$blockquote-cite-spacing-top;
    padding-inline-start: calc(
      tokens.$blockquote-padding-inline + tokens.$space-sm
    );
    font-style: normal;
    font-family: tokens.$font-family-body;
    font-weight: tokens.$font-weight-blockquote-cite;
    font-size: tokens.$font-size-blockquote-cite;
    line-height: tokens.$line-height-blockquote-cite;
    color: tokens.$colour-type-blockquote-cite;
  }
}
