@use "colour-palette" as colour;

$colour-page: colour.$alabaster-grey;
$colour-surface: colour.$white-smoke;
$colour-surface-strong: colour.$dust-grey;
$colour-immersive: colour.$charcoal;
$colour-text: colour.$ink;
$colour-text-inverse: colour.$porcelain;
$colour-rule: colour.$silver;
$colour-text-muted: mix($colour-text, $colour-surface, 80%);
$colour-text-inverse-muted: mix($colour-text-inverse, $colour-immersive, 80%);
