@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/source-sans/sourcesans3-variablefont_wght.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/source-sans/sourcesans3-italic-variablefont_wght.woff2")
    format("woff2-variations");
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/source-serif/sourceserif4-variablefont_opsz_wght.woff2")
    format("woff2-variations");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/source-serif/sourceserif4-italic-variablefont_opsz_wght.woff2")
    format("woff2-variations");
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
}

$font-family-sans-fallback:
  -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial,
  sans-serif;

$font-family-serif-fallback:
  "Iowan Old Style", "Palatino Linotype", "Book Antiqua", "Georgia", serif;

$font-family-source-sans: "Source Sans 3", $font-family-sans-fallback;
$font-family-source-serif: "Source Serif 4", $font-family-serif-fallback;

$font-family-body: $font-family-source-sans;
$font-family-heading: $font-family-source-serif;
